/* .header {
  background-image: url('./bec3f96e-5e03-44b9-b6b0-a215df0fe213.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
} */